<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Jangan rewrite jika file/folder benar-benar ada
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Arahkan semua request ke index.php
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>

Options -Indexes